html, body {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  min-height: 100vh;
  background-color: rgb(139, 134, 230);
  width: 100%;
  justify-content: center;
  align-items: center;
  }

.card {
  width: 500px;
  border-radius: 20px;
  overflow: hidden;
  background-color: white;
  }
  
.card img {
  width: 100%;
  }

.container {
  box-sizing: border-box;
  margin: 20px;
  }

p {
  color:#15b060;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  line-height: 0;
  }
  
h2 {
  line-height: 0px;
  font-family:sans-serif;
  font-size: 120%;
  margin-top:5px;
  }

span {
  display: flex;
  font-family:'Courier New', Courier, monospace;
  margin-top:20px;
  font-size: 97%;
  line-height: 0.4;
  color:#6b6c6b
  }

button {
  padding: 15px 35px;
  background-color: #3d5bef;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  margin-left: 10px;
  margin-top: 30px;
  }
  
button:hover {
  background-color: #1dc230;
  
}

.rating {
  font-weight: bolder;
  color: black; 
  position: relative;
  margin: auto 0;
  right: -5px;
}

.flex {
  display: flex;
  align-items: center;
 }

.flex-justify-content-space-between {
  justify-content: space-between;
}

.flex-justify-content-flex-start {
  justify-content: flex-start;
}

svg {
  height: 25px;
  width: 20px;
}